<% if (is_tag()) { %>
  <script>
    if ('<%= page.tag %>' === 'hide') { window.history.go(-1) }
    window.subData= { title:'Tag : <%= page.tag %>'}
  </script>
<% } else if (is_archive()) { %>
  <script>
    window.subData= { title:'Year : <%= page.year %><%= page.month ? '.' + page.month : '' %>'}
  </script>
<% } else if (is_category()) { %>
  <script>
    window.subData= { title:'Category : <%= page.category %>'}
  </script>
<% } %>
<section class="post-list">
  <% const posts = page.posts.filter((post)=>{
    return post.tags.data.every((post_tag)=>post_tag.name!=='hide')
  }) %>
	<% posts.each(function(post){ %>
    <div class='post-wrapper <%- post.icon?'column-span-all':'' %>'>
      <%- partial('post', {post: post}) %>
    </div>
  <% }) %>
</section>

<% if (page.total > 1) { %>
  <nav id="page-nav">
    <% if (page.prev != 0) { %>
    <a class="prev" rel="prev" href="<%= url_for(page.prev_link) %>">
      <span class="icon icon-chevron-left"></span>
      <span class="text"><%= _p('previous') %></span>
    </a>
    <% } %>
    <% if (page.next != 0) { %>
    <a class="next" rel="next" href="<%= url_for(page.next_link) %>">
      <span class="text"><%= _p('next') %></span>
      <span class="icon icon-chevron-right"></span>
    </a>
    <% } %>
  </nav>
  
<% } %>