<article id="<%= post.layout %>-<%= post.slug %>" class="post no-shandow white-box article-type-<%= post.layout %>"
	itemscope itemprop="blogPost">


	<section class='meta'>

		<div class="title-bar">
			<div class="title post-title">
				<a href="<%- url_for(post.path) %>">
					<%= post.title %>
				</a>
			</div>
			<!-- 菜单 -->
			<% if (post.menu && post.menu.length>0) { %>
			<div class="post-menus">
				<% for (let i in post.menu) { %>
				<div class="post-menu-item">
					<a class="" href="<%= post.menu_links[i] %>"><%= post.menu[i] %> </a>
				</div>
				<% } %>
			</div>
			<% } %>
		</div>

		<!-- 分类，暂时用不到 -->
		<!-- <%- partial('categories',{post:post}) %> -->
	</section>
	<% if(post.toc!==false){ %>
	<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
		<div class="article-entry" itemprop="articleBody">
			<%- post.content %>
		</div>
		<% if (post.tags && post.tags.length) { %>
		<div class="article-tags tags">
			<% post.tags.each(function(item){ %>
			<a href="<%- url_for(item.path) %>"><%=item.name %></a>
			<%})%>
		</div>
		<% } %>

		<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
			<% if(post.prev){ %>
			<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i>prev：<a
					href="<%=url_for(post.prev.path)%>" rel="prev" title="<%=post.prev.title%>">
					<%= post.prev.title %>
				</a></span>
			<% } %>
			<% if(post.next){ %>
			<span class="art-item-right">next：<a href="<%=url_for(post.next.path) %>" rel="next"
					title="<%=post.next.title %>">
					<%=post.next.title  %>
				</a><i class="icon icon-chevron-thin-right"></i></span>
			<%} %>
		</div>
		<%} %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
	<section id="comments">
		<div id="disqus_thread"></div>
	</section>
	<% } %>
</article>
<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>
<% if(post.mathjax) {%>
<%- partial('mathjax') %>
<% } %>